@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #13201a;
  background: #f7faf7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  margin: 0;
}

button,
input {
  font: inherit;
}
